<html ng-app>
	<head>
		<title>Lista de compras</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="css/bootstrap.css"></link>
		<link rel="stylesheet" href="css/lista.css"></link>
		
		<!--<script src="./lib/angular-1.js"></script>-->
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<script src="./listaCompraControler.js"></script>


	</head>
	<body >
	
		<div ng-controller="listaComprasController" class="table table-striped">
			<div class="row">
				<div class="page-header">
					<h1>Lista de compras</h1>
				</div>
			</div>
		
			<div class="row">
				<table id="lista-compras" class="table table-striped">
					<thead>
						<tr>
							<th>Comprado?</th>
							<th>Produto</th>
							<th>Quantidade</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in itens" class="comprado-{{item.comprado}}">
							<td><input type="checkbox" ng-model="item.comprado"></input></td>
							<td><strong> {{item.produto}} </strong></td>
							<td> {{item.quantidade}} </td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<form class="form-inline" name="formItem">
				<input type="text" ng-model="item.produto" placeholder="Produto"/>
				<input type="text" ng-model="item.quantidade" placeholder="Quantidade" class="input-small"/>
				
				<button ng-click="adicionaItem()" class="btn btn-primary">adicionar item</button>
				
			</form>
		
		</div>
		
	</body>
</html>